<!DOCTYPE html>
<html lang="ko" xmlns:th="www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/login/loginCustom.css}">

  <style>
    body {
      min-height: 100vh;

      background: -webkit-gradient(linear, left bottom, right top, from(#FF454E), to(#FF416B));
      background: -webkit-linear-gradient(bottom left, #FF454E 0%, #FF416B 100%);
      background: -moz-linear-gradient(bottom left, #FF454E 0%, #FF416B 100%);
      background: -o-linear-gradient(bottom left, #FF454E 0%, #FF416B 100%);
      background: linear-gradient(to top right, #FF454E 0%, #FF416B 100%);
    }

    .input-form {
      max-width: 680px;

      margin-top: 80px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
  </style>
</head>

<body>
<div class="container">
  <div class="input-form-backgroud row">
    <div class="input-form col-md-12 mx-auto">
      <h4 class="mb-3">회원가입</h4>
      <form class="validation-form" method="post" th:action th:object="${member}" novalidate>
          <div class="mb-3">
            <label for="id">아이디</label>
            <div class="d-flex">
            <input type="text" class="form-control mr-3 ip-id-custom"
                   th:field="*{id}"
                   id="id" required>
            <button type="button" id="idChkBtn" class="btn btn-primary btn-lg btn-block btn-custom">아이디 중복 확인</button>
              <input type="hidden" value="duplicate" id="input-idHidden">
            </div>
            <div class="invalid-feedback">
              아이디를 입력해주세요
            </div>
          </div>

        <div class="mb-3">
          <label for="password">비밀번호</label>
          <input type="password" id="password" class="form-control" th:field="*{password}" required>
          <div class="invalid-feedback">
            비밀번호를 입력해주세요
          </div>
        </div>

        <div class="mb-3">
          <label for="passwordCheck">비밀번호 확인</label>
          <input type="password" class="form-control" id="passwordCheck" required>
          <div class="invalid-feedback">
            비밀번호를 확인해주세요
          </div>
        </div>

        <div class="mb-3">
          <label for="nickName">닉네임</label>
          <div class="d-flex">
            <input type="text" class="form-control mr-3 ip-id-custom" id="nickName" th:field="*{nickName}" required>
            <button type="button" id="nickNameChkBtn" class="btn btn-primary btn-lg btn-block btn-custom">닉네임 중복 확인</button>
            <input type="hidden" value="duplicate" id="input-nickNameHidden">
          </div>
          <div class="invalid-feedback">
            닉네임을 입력해주세요
          </div>
        </div>

        <div class="mb-3">
          <label for="name">이름</label>
          <input type="text" class="form-control" id="name" th:field="*{name}" required>
        </div>

        <div class="mb-3">
          <label>성별</label>
          <div class="d-flex">
              <div th:each="type:${genders}" class="form-check form-check-inline">
                <label class="mr-2 form-check-label" th:for="${type.name()}" th:text="${type.getValue()}">남성</label>
                <input class="mr-5 form-check-input" type="radio" name="gender" th:field="*{gender}" th:value="${type.name()}" th:id="${type.name()}">
              </div>
          </div>
          </div>
          <div class="invalid-feedback">

          </div>

        <div class="mb-3">
          <label for="email">이메일</label>
          <input type="email" class="form-control" id="email" th:field="*{email}" required>
          <div class="invalid-feedback">
            이메일을 입력해주세요.
          </div>
        </div>

        <div class="mb-3">
          <label for="birth">생년월일</label>
          <input type="date" class="form-control" id="birth" th:field="*{birth}" required>
          <div class="invalid-feedback">
            생년월일을 입력해주세요
          </div>
        </div>

        <div class="mb-3">
            <label for="middleNumber">전화번호</label>
            <div class="d-flex">
              <input type="text" class="form-control mr-3" name="startNumber" id="startNumber" th:value="${member.phoneNumberParts[0]}" required>
              <input type="text" pattern="[0-9]+" class="form-control mr-3" name="middleNumber" id="middleNumber" th:value="${member.phoneNumberParts[1]}" required>
              <input type="text" pattern="[0-9]+" class="form-control" name="endNumber" id="endNumber" th:value="${member.phoneNumberParts[2]}" required>
          </div>
              <div class="invalid-feedback">
                전화번호를 입력해주세요
              </div>
        </div>

        <div class="mb-3">
          <label for="zipCode">우편번호</label>
          <div class="d-flex">
            <input type="text" class="form-control mr-3 ip-id-custom"
                   id="zipCode" th:field="*{zipCode}">
            <button type="button" class="btn btn-primary btn-lg btn-block btn-custom" onclick="addressPop()">우편주소</button>
          </div>
          <div class="invalid-feedback">
            우편번호를 입력해주세요
          </div>
        </div>

        <div class="mb-3">
          <label for="address">주소</label>
          <input type="text" class="form-control" id="address" th:field="*{address}">
          <div class="invalid-feedback">
            주소를 입력해주세요.
          </div>
        </div>

        <div class="mb-3">
          <label for="address2">상세주소<span class="text-muted">&nbsp;(필수 아님)</span></label>
          <input type="text" class="form-control" id="address2" th:field="*{addressDetail}">
        </div>

        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="aggrement" required>
          <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
        </div>
        <div class="mb-4"></div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">가입 완료</button>
      </form>
    </div>
  </div>
  <footer class="my-3 text-center text-small">
    <p class="mb-1">&copy; 2021 YD</p>
  </footer>
</div>
<script>
    window.addEventListener('load', () => {
      const forms = document.getElementsByClassName('validation-form');

      Array.prototype.filter.call(forms, (form) => {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  </script>

<!-- ID 중복체크 -->
<script>
document.getElementById('idChkBtn').addEventListener('click',()=>{
  let id=document.getElementById('id').value;
  let xhr = new XMLHttpRequest();
  xhr.open('GET','/members/checkDuplicateId?id='+id,true);
  xhr.onload = function(){
    if(this.status=200){
      let data = JSON.parse(this.responseText);
      console.log(data);
      if(data.result == 'nonDuplicate'){
        document.getElementById('input-idHidden').value = 'nonDuplicate';
      } else{
        document.getElementById('input-idHidden').value = 'duplicate';
      }
    } else {
      document.getElementById('input-idHidden').value = 'duplicate';
      console.log('request error');
    }
  }
  xhr.send();
})
</script>

<!-- 닉네임 중복체크 -->
<script>
document.getElementById('nickNameChkBtn').addEventListener('click',()=>{
  let nickName=document.getElementById('nickName').value;
  let xhr = new XMLHttpRequest();
  xhr.open('GET','/members/checkDuplicateNickName?nickName='+nickName,true);
  xhr.onload = function(){
    if(this.status=200){
      let data = JSON.parse(this.responseText);
      if(data.result == 'nonDuplicate'){
        document.getElementById('input-nickNameHidden').value = 'nonDuplicate';
      } else{
        document.getElementById('input-nickNameHidden').value = 'duplicate';
      }
    } else {
      document.getElementById('input-nickNameHidden').value = 'duplicate';
      console.log('request error');
    }
  }
  xhr.send();
})
</script>

<!-- Daum 주소 api -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"
        th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"
></script>
<script>
    function addressPop() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('zipCode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("address2").focus();
            }
        }).open();
    }
</script>

</body>

</html>